<ion-view class="">
  <ion-nav-bar class="bar bar-assertive">
    <ion-nav-title>Login</ion-nav-title>
  </ion-nav-bar>
  <ion-content class="has-header">

    <div class="card">
      <div class="item-body">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Mobile No.</span>
          <input type="number" id="login_mobile" onkeyup="if(document.getElementById('login_mobile').value.length == 10){ document.getElementById('login_pin').focus(); }" placeholder="Enter your registered mobile no." ng-model="login.mobile">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">PIN</span>
          <input type="number" style="-webkit-text-security: disc;" ng-model="login.pin" id="login_pin" placeholder="4 digit PIN">
        </label>
      </div>
    </div>
    <center>
      <button class="button button-assertive button-outline" style="width: 70%; border-radius: 30px;" ng-click="login_submit()">Login</button>
      <br/><br/>
      <p>Don't have an account ?</p>
      <a style="font-size: 25px; text-decoration: none;" href="#/signup_form">Sign up <i class="fa fa-arrow-right"></i></a>
      <br/><br/>
      <a style="font-size: 25px; text-decoration: none;" ng-click="regen_pin()">Forgot PIN <i class="fa fa-arrow-right"></i></a>
    </center>
  </ion-content>
</ion-view>
