<!--<ion-tabs class="tabs-icon-top tabs-assertive tabs-color-white">-->
  <!--<ion-tab title="Food" icon-off="fa fa-mobile-phone" icon-on="fa fa-mobile-phone" href="#/app/tabs/main">-->
    <ion-nav-view name="tab-food"></ion-nav-view>
  <!--</ion-tab>-->
  <!--&lt;!&ndash;<ion-tab title="Add Money" icon-off="fa fa-folder-open" icon-on="fa fa-folder-open" href="#/app/tabs/add_money">&ndash;&gt;-->
    <!--&lt;!&ndash;<ion-nav-view name="tab-add_money"></ion-nav-view>&ndash;&gt;-->
  <!--&lt;!&ndash;</ion-tab>&ndash;&gt;-->
  <!--<ion-tab title="Recharge" icon-off="fa fa-mobile-phone" icon-on="fa fa-mobile-phone" href="#/app/tabs/earn">-->
    <!--<ion-nav-view name="tab-earn"></ion-nav-view>-->
  <!--</ion-tab>-->
  <!--<ion-tab title="Earn" icon-off="fa fa-inr " icon-on="fa fa-inr " href="#/app/tabs/account">-->
    <!--<ion-nav-view name="tab-account"></ion-nav-view>-->
  <!--</ion-tab>-->
  <!--<ion-tab title="Nearby Coupons" icon-off="fa fa-barcode" icon-on="fa fa-barcode" href="#/app/tabs/account">-->
    <!--<ion-nav-view name="tab-account"></ion-nav-view>-->
  <!--</ion-tab>-->
  <!--&lt;!&ndash;<ion-tab title="My Account" icon-off="fa fa-user" icon-on="fa fa-user" href="#/app/tabs/account">&ndash;&gt;-->
    <!--&lt;!&ndash;<ion-nav-view name="tab-account"></ion-nav-view>&ndash;&gt;-->
  <!--&lt;!&ndash;</ion-tab>&ndash;&gt;-->
<!--</ion-tabs>-->
