/* Empty. Add your own CSS if you like */
.myinput{
  text-align: center !important;
  height: 100% !important;
  width: 100% !important;
  padding: 2px 0px 0px 0px !important;
  vertical-align: middle !important;
  font-size: 14px !important;
  line-height: 0 !important;
  border-bottom: 1px solid black !important;
}
ion-view.login.pane {
    background: url(https://tromboy.com/doodle.jpg);
    background-size: cover;
}
.button.button-assertive.button-outline.login_button {
    background: #9d1f08;
    display: block;
    width: 100%;
    margin: 0 auto;
}
.card.profile_card {
    padding: 46px 0;
    margin: 0;
    background: #fff112;
}
input#profile_old_pin, input#profile_new_pin, input#profile_new_pin_verify {
    background: #fff112;
    color: #000;
}
a.forget_pin {
    color: #000;
    font-weight: bold;
}
.card.login_card {
    border-radius: 11px;
    vertical-align: middle;
    margin-top: 28%;
    background: #FFF112;
}
.loginbg {
  background: url("../img/foodbg.jpg") no-repeat center;
}
.mainbg {
  background: url(https://tromboy.com/bg_food.jpg);
}
.mytitle{
  text-shadow: 0px 0px 5px white;
}
.tabs-striped.tabs-dark .tab-item{
  color: white;
}
.bar-dark .round-button{
  border: 2px solid rgba(255, 255, 255, 0.32);
  border-radius: 15px;
  padding: 0px 10px;
  background-color: rgba(76, 76, 76, 1);
}
.text-warning{
  color: #FF5722;
}
.mybutton{
  min-width: 0;
  min-height:0;
  line-height: normal;
}
div.row{
  padding: 0px;
}
.cartBlue{
  color: #9d1f08;
}
.text-bold{
  font-weight: bold;
}
.affix-bottom{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 95%;
}
.popup-container .popup{
  background-color: white;
}
.switch_bg{
  background: #9d1f08; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #9d1f08 ,#9d1f08); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #9d1f08 , #9d1f08); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.wrapper{
  height: 100%;
  width: 100%;
  margin:10px;
  text-align: center;
  display:table;
}

#custom-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /*background: #ff4b1f;  !* fallback for old browsers *!*/
  /*background: -webkit-linear-gradient(to bottom, #ff9068, #ff4b1f);  !* Chrome 10-25, Safari 5.1-6 *!*/
  /*background: linear-gradient(to bottom, #ff9068, #ff4b1f); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
  background: url("../img/doodle.jpg") no-repeat;
  background-size: cover;
}

#custom-overlay img {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: auto;
  -webkit-animation: rotating-function 5.25s linear infinite;
  animation: rotating-function 5.25s linear infinite;
}

@-webkit-keyframes rotating-function {
  from {
    -webkit-transform: scale(0.5,0.5);
  }
  to {
    -webkit-transform: scale(1,1);
  }
}

@keyframes rotating-function {
  from {
    transform: scale(0.5,0.5);
  }
  to {
    transform: scale(1,1);
  }
}

.wrapper>.content {
  display:table-cell;
  vertical-align:middle;
}​
